{% extends 'base.html' %}
{% block main_content %}
<div class="container">
  <h2 class="text-center mb-4">Vídeos Disponíveis</h2>
  <div class="row">
    {% for video in videos %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">{{ video.title }}</h3>
          <p class="card-text">{{ video.description }}</p>
          <div class="embed-responsive embed-responsive-16by9" style="height: 200px;">
            <video
              id="player-{{ video.id }}"
              class="embed-responsive-item video-js"
              controls
              data-plyr-config="{ 'title': '{{ video.title }}' }"
            >
              <source
                src="{% if video.video_file %}{{ video.video_file.url }}{% elif video.video_url %}//site.com/{{ video.video_url|cut:'https://www.youtube.com/watch?v=' }}{% endif %}"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
        <div class="card-footer">
          {% if user.is_authenticated %}
          {% if video.id in user_viewed_videos %}
          <p class="text-success">Você já assistiu a este vídeo.</p>
          {% else %}
          <button
            class="btn btn-primary btn-sm"
            onclick="startVideo('{{ video.id }}')"
          >
            Iniciar
          </button>
          {% endif %}
          {% endif %}
          {% if user.is_staff %}
           <button
      class="btn btn-danger btn-sm"
      onclick="deleteVideo('{{ video.id }}')"
    >
      Deletar
    </button>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    {% for video in videos %}
    const player{{ video.id }} = new Plyr('#player-{{ video.id }}');
    {% endfor %}
  });

  function startVideo(videoId) {
    const player = Plyr.setup(`#player-${videoId}`)[0];
    player.play();
  }

  function deleteVideo(videoId) {
    if (confirm("Tem certeza que deseja deletar este vídeo?")) {
      fetch("{% url 'delete_video' %}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
          video_id: videoId,
        })
      })
        .then(response => {
          if (response.ok) {
            // Atualizar a página após a exclusão bem-sucedida
            location.reload();
          } else {
            // Lidar com erros de exclusão, se necessário
            console.error('Erro ao deletar o vídeo');
          }
        });
    }
  }
</script>

<style>
  .card {
    border: none;
    transition: all 0.3s;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    color: #6c757d;
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 0.9rem;
  }
</style>
{% endblock %}
