{% extends 'base.html' %}
{% block title %}Relatório de Clientes{% endblock %}

{% block main_content %}
<div class="container py-4">
    <h2 class="text-center text-3xl font-semibold mb-4">Relatório de Clientes</h2>

    <div class="card p-4">
        <!-- Adicione este bloco acima da tabela existente -->
        <div class="mb-3">
            <form method="GET" action="{% url 'relatorio_clientes' %}">
                <div class="row">
                    <div class="col-md-3">
                        <label for="statusFilter" class="form-label">Status:</label>
                        <select class="form-control" id="statusFilter" name="status">
                            <option value="">Todos</option>
                            <option value="aguardando_aprovacao">Aguardado Aprovação</option>
                            <option value="documentacao_pendente">Documentação Pendente</option>
                            <option value="aguardando_cancelamento_qv">Aguardando Cancelamento / QV</option>
                            <option value="cliente_aprovado">Cliente Aprovado</option>
                            <option value="reprovado">Cliente Reprovado</option>
                            <option value="proposta_apresentada">Proposta Apresentada</option>
                            <option value="visita_efetuada">Visita Efetuada</option>
                            <option value="nao_deu_continuidade">Não Deu Continuidade</option>
                            <option value="venda_concluida">Venda Concluída</option>
                            <option value="fechamento_proposta">Fechamento de Proposta</option>                                        
                            <option value="processo_em_aberto">Processo em Aberto</option>
                            <option value="reprovado">Reprovado</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="corretorFilter" class="form-label">Corretor:</label>
                        <select class="form-control" id="corretorFilter" name="corretor">
                            <option value="">Todos</option>
                            {% for corretor in corretores %}
                                <option value="{{ corretor.pk }}">{{ corretor.first_name }} {{ corretor.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="dataInicioFilter" class="form-label">Data Início:</label>
                        <input type="date" class="form-control" id="dataInicioFilter" name="data_inicio">
                    </div>
                    <div class="col-md-3">
                        <label for="dataFimFilter" class="form-label">Data Fim:</label>
                        <input type="date" class="form-control" id="dataFimFilter" name="data_fim">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary mt-4">Aplicar Filtros</button>
                    </div>
                </div>
            </form>
            <div class="mt-4">                
                <a href="{% url 'relatorio_clientes_pdf' %}?{{ request.GET.urlencode }}" class="btn btn-primary">Baixar Relatório em PDF</a>
            </div>
        </div>
        
    
    
    <!-- Estatísticas -->
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Total de Clientes</h5>
                        <p class="card-text text-white">{{ total_clientes }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Aprovados</h5>
                        <p class="card-text text-white">{{ clientes_aprovados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Reprovados</h5>
                        <p class="card-text text-white">{{ clientes_reprovados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Este Mês</h5>
                        <p class="card-text text-white">{{ novos_clientes_mes }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Adicione mais estatísticas conforme necessário -->
        </div>
    </div>
</div>

    <style>
        .table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

    </style>
    <!-- Tabela de clientes filtrados -->
<!-- Tabela de clientes filtrados -->
<div class="container">
    <div class="row justify-content-center">
        <div class="">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Corretor</th>
                            <th>Status</th>
                            <th>Data de Criação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td class="text-white">{{ cliente.nome }}</td>
                            <td class="text-white">{{ cliente.email }}</td>
                            <td class="text-white">{{ cliente.telefone }}</td>
                            <td class="text-white">{{ cliente.corretor.first_name }} {{ cliente.corretor.last_name }}</td>
                            <td>
                                <button class="btn btn-status {% if cliente.status == 'aguardando_aprovacao' %}btn-warning{% elif cliente.status == 'documentacao_pendente' %}btn-danger{% elif cliente.status == 'aguardando_cancelamento_qv' %}btn-danger{% elif cliente.status == 'cliente_aprovado' %}btn-success{% elif cliente.status == 'reprovado' %}btn-danger{% elif cliente.status == 'proposta_apresentada' %}btn-primary{% elif cliente.status == 'visita_efetuada' %}btn-info{% elif cliente.status == 'nao_deu_continuidade' %}btn-secondary{% elif cliente.status == 'venda_concluida' %}btn-primary{% elif cliente.status == 'processo_em_aberto' %}btn-primary{% elif cliente.status == 'concluido' %}btn-primary{% else %}btn-secondary{% endif %}">
                                    {{ cliente.get_status_display }}
                                </button>
                            </td>
                            <td class="text-white">{{ cliente.data_de_criacao }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
